<div class="booyah-box col-10 offset-1">
  <h1>Career Opportunities</h1>
  <br />
    <h2>Software Engineer</h2>
      <p>
        Front-end Javascript engineer experienced in Ruby on Rails. Knowledge of web frameworks and optimizing user experience. Minimum one year experience preferred. 
      </p>
    <h2>Office Manager</h2>
      <p>
        Site management for our home office in Campbell, CA. Oversee day to day operations of 20 person company. H.R. experience preferred. 
      </p>
</div>