<div class="booyah-box col-10 offset-1"
  <h1> Meet Our Team </h1>
  <br />
  <h2>Kazimiera Luce </h2>
  <br />
  <div>
    <%= image_tag("me.jpg") %>
  </div>
  <br />
  <p>
    Kazimiera Luce is a Nurse Practitioner and has worked in primary care and women's health. She also greatly enjoys teaching NCLEX review courses, which prepares students to become licensed RNs and LVNs. In her free time, she enjoys learning to code, reading and hiking.
  </p>
</div>